
@import '../../assets/styles/_variables';

.product-card {
  padding: 30px 30px 10px 30px;
  box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: .2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  transition: all .2s ease-out;
  &:hover {
    box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: .5);
  }
  &__article {
    flex-grow: 0;
    font-size: 14px;
    font-weight: 400;
    color: $text-secondary;
  }
  &__name {
    font-size: 20px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 28px;
    flex-grow: 1;
  }
  &__price {
    font-size: 16px;
    font-weight: 700;
    color: $price-color;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    & > p {
      font-size: 14px;
      font-weight: 500;
      color: $text-secondary;
      text-decoration: line-through;
    }
    & > big {
      font-size: 16px;
      font-weight: 700;
      color: $text-accent-secondary;
    }
  }
  &__footer {
    flex-grow: 0;
    gap: 10px;
    padding: 10px 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top: 1px solid $border-primary;
    & button {
      padding: 2px 7px;
      text-transform: capitalize;
    }
  }
}