$text-primary: #1E1E1E;
$text-secondary: #686C73;
$price-color: #40484F;
$text-accent-primary: #7371fc;
$text-accent-secondary: #8593ff;
$discount-bg: #F5F5F7;
$border-primary: #F5F5F7;
$form-bg: #edf2fb;
$table-header-border: #edf2fb;